.header{
    background-color:transparent;
    margin: 0px;
    padding: 1px;
}

.topButtons{
    float: right;
    padding: 10px;
    margin: 2px;
    background-color: blue;
    color: white;
    border-color: blue;
}

#pageTitle{
    font-family: 'Montez', cursive;
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.middleText{
    font-family: 'Ubuntu Mono', monospace;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

body{
    background-image: url('arseniy-chebynkin-oldbridge.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}